<a href="https://colab.research.google.com/github/AburizalAN/learn-ml/blob/master/04_pytorch_project_aburizal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project: Pytorch

**Instructions for Students:**

Please carefully follow these steps to complete and submit your project:

1. **Completing the Project**: You are required to work on and complete all tasks in the provided project. Be disciplined and ensure that you thoroughly engage with each task.
2. **Creating a Google Drive Folder**: Each of you must create a new folder on your Google Drive if you haven't already. This will be the repository for all your completed assignment and project files, aiding you in keeping your work organized and accessible.
3. **Uploading Completed Project**: Upon completion of your project, make sure to upload all necessary files, involving codes, reports, and related documents into the created Google Drive folder. Save this link in the 'Student Identity' section and also provide it as the last parameter in the `submit` function that has been provided.
4. **Sharing Folder Link**: You're required to share the link to your project Google Drive folder. This is crucial for the submission and evaluation of your project.
5. **Setting Permission toPublic**: Please make sure your Google Drive folder is set to public. This allows your instructor to access your solutions and assess your work correctly.

Adhering to these procedures will facilitate a smooth project evaluation process for you and the reviewers.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Student Identity

In [ ]:
# @title #### Student Identity
student_id = "REAEAYH8" # @param {type:"string"}
name = "Aburizal Adi Nugroho" # @param {type:"string"}
drive_link = "https://drive.google.com/drive/folders/1pRIbA2Zphrtg_TS5N0ypHHTXkUBs50tI?usp=sharing"  # @param {type:"string"}

assignment_id = "00_pytorch_project"

# Import grader package
!pip install rggrader
from rggrader import submit, submit_image

Collecting rggrader
  Downloading rggrader-0.1.6-py3-none-any.whl (2.5 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from rggrader) (2.31.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from rggrader) (1.5.3)
Requirement already satisfied: Pillow in /usr/local/lib/python3.10/dist-packages (from rggrader) (9.4.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->rggrader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->rggrader) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->rggrader) (1.23.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->rggrader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->rggrader) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->rggrader) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->rggrader) (2023.11.17)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->rggrader) (1.16.0)
Installing collected packages: rggrader
Successfully installed rggrader-0.1.6

## Project Description

In this project, you will use what you learn to create your own Deep Learning model. We'll use a variety of datasets, each with different data types such as images, text, and numerical/categorical data. Your task is to choose one of these datasets and build a deep learning model upon it.

## Datasets

Choose one from the following datasets for your project:

1. **Digits Dataset**: A simplified version of MNIST containing 8x8 images of hand-written digits. [Dataset Link](https://scikit-learn.org/stable/auto_examples/datasets/plot_digits_last_image.html)
2. **Dogs vs. Cats Dataset from Kaggle**: A sizable dataset of 25,000 images with equal representation of dogs and cats. [Dataset Link](https://www.kaggle.com/c/dogs-vs-cats)
3. **Breast Cancer Wisconsin (Diagnostic) Dataset**: Computed features from a digitized image of a fine needle aspirate (FNA) of a breast mass. [Dataset Link](https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+%28Diagnostic%29)
4. **Spam Text Message Classification Dataset**: A collection of labeled SMS messages, categorized as "spam" or "ham". [Dataset Link](https://www.kaggle.com/uciml/sms-spam-collection-dataset)
5. **German Credit Risk Dataset**: People's data categorized by various attributes to predict credit risk. [Dataset Link](https://archive.ics.uci.edu/ml/datasets/Statlog+%28German+Credit+Data%29)

## Grading Scheme

Your work will be evaluated based on both accuracy and loss value:

100: The model has an accuracy of more than 80% and a Loss Value of less than 0.2. This model is excellent and demonstrates a strong understanding of the task.

90: The model has an accuracy between 70% - 79% and a Loss Value between 0.2 - 0.3. This model is very good, with some room for improvement.

80: The model has an accuracy between 60% - 69% and a Loss Value between 0.3 - 0.4. This model is fairly good but needs improvement in balancing accuracy and loss value.

70: The model has an accuracy between 50% - 59% and a Loss Value between 0.4 - 0.5. This model is below average and needs significant improvement.

60 or below: The model has an accuracy of less than 50% or a Loss Value of more than 0.5, or the student did not submit the accuracy and Loss Value. This model is poor and needs considerable improvement.

Rmember to make a copy of this notebook in your Google Drive and work in your own copy.

Let's start your deep learning journey! Choose your dataset and delve into the project! Happy modeling!

## Project Structure

Your project should be organized into five main sections.

### 1. Package and Module Installation

First, let's pool all package and module that you'll need in the installation section below.

In [63]:
# Write any package/module installation that you need
# pip install goes here, this helps declutter your output below
import pandas as pd
import numpy as numpy
import torch

### 2. Data Loading and Preprocessing

Load the chosen dataset and preprocess it for deep learning.

In [92]:
# Write your preprocessing here
column_names = [
    "status",  # Status of existing checking account
    "duration", # Month
    "credit_history",
    "purpose",
    "credit_amount",
    "savings_account_bonds", # Saving Account/Bonds
    "present_employment", # Present Employment since
    "installment_rate", # Installment rate in percentage of disposable income
    "personal_status", # Personal Status & Sex
    "other_debtors_guarantors", # other debtors / guarantors
    "present_residence", # Present residence since
    "property",
    "age", # years
    "other_installment_plans", # Other installment plans
    "housing",
    "existing_credits", # Number of existing credits at this bank
    "job",
    "LPM", # Number of people being liable to provide maintenance for
    "telephone",
    "foreign_worker",
    "class"
]
df = pd.read_csv(
    "./datasets/credit_data/german.data",
    delim_whitespace=True,
    names=column_names,
    index_col=False
)

x_filtered = df[[
  "credit_history",
  "credit_amount",
  "duration",
  "status",
  "savings_account_bonds",
  "present_employment",
  "installment_rate",
  "personal_status",
  "existing_credits",
  "age"
]]

def replace_credit_history(data):
  label = {
    "A30": 1,
    "A31": 2,
    "A32": 3,
    "A33": 4,
    "A34": 5,
  }
  return label.get(data, data)

def replace_status(data):
  label = {
    "A14": 0,
    "A11": 1,
    "A12": 2,
    "A13": 3,
  }
  return label.get(data, data)

def replace_savings_account_bonds(data):
  label = {
    "A65": 0,
    "A61": 1,
    "A62": 2,
    "A63": 3,
    "A64": 4,
  }
  return label.get(data, data)

def replace_present_employement(data):
  label = {
    "A71": 0,
    "A72": 1,
    "A73": 2,
    "A74": 3,
    "A75": 4,
  }
  return label.get(data, data)

x_filtered.loc[:, "credit_history"] = x_filtered["credit_history"].apply(replace_credit_history)
x_filtered.loc[:, "status"] = x_filtered["status"].apply(replace_status)
x_filtered.loc[:, "savings_account_bonds"] = x_filtered["savings_account_bonds"].apply(replace_savings_account_bonds)
x_filtered.loc[:, "present_employment"] = x_filtered["present_employment"].apply(replace_present_employement)
personal_status_encoded = pd.get_dummies(data=x_filtered["personal_status"], dtype="int")
new_x_filtered = pd.concat([x_filtered, personal_status_encoded], axis=1)
new_x_filtered.drop(columns=["personal_status"])

processed_df = new_x_filtered
# Load your data
processed_df

,credit_history,credit_amount,duration,status,savings_account_bonds,present_employment,installment_rate,personal_status,existing_credits,age,A91,A92,A93,A94
0,5,1169,6,1,0,4,4,A93,2,67,0,0,1,0
1,3,5951,48,2,1,2,2,A92,1,22,0,1,0,0
2,5,2096,12,0,1,3,2,A93,1,49,0,0,1,0
3,3,7882,42,1,1,3,2,A93,1,45,0,0,1,0
4,4,4870,24,1,1,2,3,A93,2,53,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,1736,12,0,1,3,3,A92,1,31,0,1,0,0
996,3,3857,30,1,1,2,4,A91,1,40,1,0,0,0
997,3,804,12,0,1,4,4,A93,1,38,0,0,1,0
998,3,1845,45,1,1,2,4,A93,1,23,0,0,1,0
999,5,4576,45,2,2,0,3,A93,1,27,0,0,1,0

,credit_history,credit_amount,duration,status,savings_account_bonds,present_employment,installment_rate,existing_credits,age,A91,A92,A93,A94
0,5,1169,6,1,0,4,4,2,67,0,0,1,0
1,3,5951,48,2,1,2,2,1,22,0,1,0,0
2,5,2096,12,0,1,3,2,1,49,0,0,1,0
3,3,7882,42,1,1,3,2,1,45,0,0,1,0
4,4,4870,24,1,1,2,3,2,53,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,1736,12,0,1,3,3,1,31,0,1,0,0
996,3,3857,30,1,1,2,4,1,40,1,0,0,0
997,3,804,12,0,1,4,4,1,38,0,0,1,0
998,3,1845,45,1,1,2,4,1,23,0,0,1,0
999,5,4576,45,2,2,0,3,1,27,0,0,1,0

### 3. Model Building

Define your deep learning model's architecture.

In [ ]:
# Write your code here for Model Building here

# define your Deep Learning Model here, training is in the next section.

### 4. Model Training

Train your model and evaluate its performance using validation data.

In [ ]:
# Write your code here for Model Training here
dl_loss_value = 1

#define the iteration

#create the training loop

### 5. Model Evaluation

Evaluate your model's performance on the test data using the grading scheme defined above.

In [ ]:
# Write your code here for Model Evaluation here
dl_accuracy = 0

#define the iteration

#create the training loop

## Submission

Once you are satisfied with the performance of your model, then you run the code block below to submit your project.

In [ ]:
# Submit Method

# Do not change the code below
question_id = "01_dl_project_accuracy"
submit(student_id, name, assignment_id, str(dl_accuracy), question_id, drive_link)
question_id = "02_dl_project_loss_value"
submit(student_id, name, assignment_id, str(dl_loss_value), question_id, drive_link)

## FIN