## **PANDAS**

Untuk menggunakan pandas, pertama install menggunakan pip install

In [ ]:
pip install pandas

Kemudian import pandas di dalam project jupyter notebook

In [7]:
import pandas as pd

### **Menggunakan PANDAS**

In [71]:
# Membuat DataFrame dengan Dictionary
data = {
  "Name": ["John Doe", "Alyssa Doe", "Dodo Doe", "Kevin"],
  "Age": [25, 24, 26, 27],
  "sex": ["male", "female", "male", "male"]
}

df = pd.DataFrame(data, ["a", "b", "c", "d"])

print(df)

         Name  Age     sex
a    John Doe   25    male
b  Alyssa Doe   24  female
c    Dodo Doe   26    male
d       Kevin   27    male

In [13]:
# Membuat Series
work_setting = pd.Series(["Hybrid", "In-person", "Remote", "Remote"])

print(work_setting)
print(work_setting[[1, 0, 3]])

# Menambahkan Series ke dallam DataFrame dengan nama Column test-series 1
df["work_setting"] = work_setting
print("")
print(df)

KeyError: "None of ['a', 'b', 'c', 'd'] are in the columns"

### **Indexing**

In [11]:
# Indexing using column names
print(df["Name"])

0      John Doe
1    Alyssa Doe
2      Dodo Doe
3         Kevin
Name: Name, dtype: object

In [17]:
# Indexing using loc[]
print(df.loc["a"])

print("")
print("")

# Indexing using iloc[]
print(df.iloc["a"])

Name    John Doe
Age           25
sex         male
Name: a, dtype: object

TypeError: Cannot index by location index with a non-integer key

### **Slicing**

In [18]:
print(df[1:3])
print("")
print(df[:3])
print("")
print(df[2:])

         Name  Age     sex work_setting
1  Alyssa Doe   24  female    In-person
2    Dodo Doe   26    male       Remote

         Name  Age     sex work_setting
0    John Doe   25    male       Hybrid
1  Alyssa Doe   24  female    In-person
2    Dodo Doe   26    male       Remote

       Name  Age   sex work_setting
2  Dodo Doe   26  male       Remote
3     Kevin   27  male       Remote

In [25]:
# Slicing Series
location = pd.Series(["Indonesia", "Singapore", "England", "Swiss"])

print(location[1:3])
print("")
print(location[:3])
print("")
print(location[1:])

1    Singapore
2      England
dtype: object

0    Indonesia
1    Singapore
2      England
dtype: object

1    Singapore
2      England
3        Swiss
dtype: object

In [12]:
location_new = pd.Series(["Indonesia", "Singapore", "England", "Swiss"], index=["a", "c", "b", "e"])

print(location_new["a":"b"])

a    Indonesia
c    Singapore
b      England
dtype: object

In [84]:
data = {
  "Name": ["John Doe", "Alyssa Doe", "Dodo Doe", "Kevin"],
  "Age": [25, 24, 26, 27],
  "sex": ["male", "female", "male", "male"]
}

df = pd.DataFrame(data)

new_df = pd.DataFrame({
  "Name": ["M Salah"],
  "Age": [30],
  "sex": ["male"]
})

df = pd.concat([df, new_df])

if not df[df["Name"] == "M Salah"].any:
  df = pd.concat([df, new_df])
else :
  print("Ada isinya")

print(df)

Ada isinya
         Name  Age     sex
0    John Doe   25    male
1  Alyssa Doe   24  female
2    Dodo Doe   26    male
3       Kevin   27    male
0     M Salah   30    male

In [86]:
df.loc[0, ["Name", "Age"]] = ["Jonathan Blue", 40]

df

            Name  Age     sex
0  Jonathan Blue   40    male
1     Alyssa Doe   24  female
2       Dodo Doe   26    male
3          Kevin   27    male
0  Jonathan Blue   40    male