In [3]:
import sqlite3

conn = sqlite3.connect('sqlite.db')

cur = conn.cursor()

cur.execute("""
  CREATE TABLE employees (
    id INT,
    name TEXT NOT NULL,
    age INT NOT NULL,
    address TEXT,
    salary INT
  )
""")

conn.commit()

OperationalError: table employees already exists

In [4]:
import pandas as pd

pd.read_sql_query("select * from employees", conn)

Empty DataFrame
Columns: [id, name, age, address, salary, email, test]
Index: []

In [8]:
cur.execute('DESC employees')

conn.commit()

OperationalError: near "DESC": syntax error